@import "~styles/variables.scss";
@import "~styles/mixins.scss";

.page {
  @include page();
}

.title {
  @include title();
}

.controls {
  display: flex;

  width: 100%;
  max-width: 46 * $grid_item_unit;
}

.tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.tab {
  @include hover-states();

  display: block;
  margin-right: 20px;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  color: $secondary-color;

  * {
    text-decoration: none;
    color: currentColor;
  }
}

.activeTab {
  composes: tab;

  color: $primary-color;
}

.editButton {
  @include hover-states();

  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0 0 0 auto;
  outline: none;
  background: transparent;

  color: $secondary-color;

  * {
    text-decoration: none;
    color: currentColor;
  }
}

.editButtonMobile {
  composes: editButton;

  height: 3rem;
  width: 3rem;

  border: 1px solid $secondary-color;
  border-radius: $border_radius;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    color: #fff;
    background: $secondary-color;
  }
}

.dropdown {
  &:not(:global .open) {
    .dropdownButton {
      background: transparent;
      color: $primary-color;
    }
  }
}

.dropdownButton {
  height: 3rem;
  width: 16 * $grid_item_unit_mobile;

  border: 1px solid #aaa;
  border-radius: $border_radius;
  box-sizing: border-box;

  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.5rem;
}

.dropdownMenu {
  width: 16 * $grid_item_unit_mobile;

  margin: 0;
  padding: 0;
}

.dropdownItem {
  @include hover-states();

  height: 3rem;

  * {
    outline: none!important;
    background: transparent!important;
    color: $secondary-color!important;
    text-decoration: none!important;
    line-height: 3rem!important;
    font-size: 1.2rem!important;
    padding: 0 0.5rem!important;
  }
}
