@import "~styles/variables.scss";
@import "~styles/mixins.scss";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1280px;

  display: flex;
  flex-direction: column;
}

.header {
  width: calc(100% - #{2 * $content_side_padding});
  height: $header_height;

  display: flex;
  align-items: center;
  padding: 0 $content_side_padding;

  background: #eee;

  @media screen and (max-width: 768px) {
    width: calc(100% - #{2 * $content_side_padding_mobile});
    padding: 0 $content_side_padding_mobile;
  }
}

.title {
  display: block;
  margin: 0;

  * {
    color: $primary-color;
    text-decoration: none;
  }
}

.main {
  width: 100%;
}

.userSelect {
  margin-left: auto;
}

.sidebarButton {
  @include hover-states();
  padding: 0;
  box-shadow: none;
  outline: none;
  border: 0;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondary-color;
  border-radius: $border_radius;
  color: #fff;
  cursor: pointer;
}

.sidebarOpenButton {
  composes: sidebarButton;
  margin-left: auto;
}

.sidebarCloseButtonContainer {
  height: 100%;
  width: 4 * $grid_item_unit_mobile;
  margin-right: 2 * $grid_item_unit_mobile;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.sidebarHeader {
  composes: header;
}

.sidebarTitle {
  margin-left: -0.1rem;
}

.usersList {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  margin-left: 7 * $grid_item_unit_mobile;
}

.userLink {
  @include hover-states();
  display: block;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $secondary-color;

  * {
    text-decoration: none;
    color: currentColor;
  }
}

.dropdown {
  margin-left: auto;

  &:not(:global .open) {
    .dropdownButton {
      background: transparent;
      color: $primary-color;
    }
  }
}

.dropdownButton {
  composes: sidebarButton;
}

.dropdownMenu {
  width: 14 * $grid_item_unit;
}

.dropdownItem {
  @include hover-states();

  * {
    outline: none!important;
    background: transparent!important;
    color: $secondary-color!important;
    text-decoration: none!important;
  }
}

.activeDropdownItem {
  composes: dropdownItem;

  * {
    color: $primary-color!important;
  }
}

.preloader {
  width: 100%;
  height: calc(100vh - #{$header_height});

  display: flex;
  justify-content: center;
  align-items: center;
}
